29_state_Sentimentanalysis_tab_UI.json
[{"id":"651b1d89.b7bbd4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d006e67.ea15d2","type":"twitter in","z":"651b1d89.b7bbd4","twitter":"","tags":"#corona","user":"false","name":"","inputs":0,"x":220,"y":200,"wires":[["80dd3ae.05e53c8"]]},{"id":"e38b2b3f.f93228","type":"function","z":"651b1d89.b7bbd4","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["cdb6079f.c8a4f8","c2cd5abe.9d8448","c7231f90.e9675","fb2573fd.9b42b","a59c3933.8efa88","998684e4.668cd8","339ac48f.8b3c3c","994075d6.90e108","1ce0959f.6c47da","8f887d59.a7756","7ac63464.ecec6c","122be75b.63dd59","de00ac92.365e2"]]},{"id":"998684e4.668cd8","type":"debug","z":"651b1d89.b7bbd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":100,"wires":[]},{"id":"4942d5b2.4a515c","type":"function","z":"651b1d89.b7bbd4","name":"POSITIVE","func":"msg.payload=\"1 to 20\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["74b4a949.6c6c28"]]},{"id":"74b4a949.6c6c28","type":"ui_text","z":"651b1d89.b7bbd4","group":"64dca80d.e881a8","order":1,"width":"0","height":"0","name":"","label":"Positive","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":420,"wires":[]},{"id":"703a6a9c.27d694","type":"function","z":"651b1d89.b7bbd4","name":"NEUTRAL","func":"msg.payload=\"0\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["951c39f4.918978"]]},{"id":"1f353638.58ba3a","type":"function","z":"651b1d89.b7bbd4","name":"NEGATIVE","func":"msg.payload=\"-1 to -20\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["89bd9407.a00048"]]},{"id":"951c39f4.918978","type":"ui_text","z":"651b1d89.b7bbd4","group":"64dca80d.e881a8","order":3,"width":"0","height":"0","name":"","label":"Neutral","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":500,"wires":[]},{"id":"89bd9407.a00048","type":"ui_text","z":"651b1d89.b7bbd4","group":"64dca80d.e881a8","order":2,"width":"0","height":"0","name":"","label":"Negative","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":580,"wires":[]},{"id":"bca9fd40.54138","type":"function","z":"651b1d89.b7bbd4","name":"Value","func":"var s=msg.sentiment.score;\nif(s>0)\n msg.payload=\"Positive =\"+\" \"+s;\nelse if(s<0)\n msg.payload=\"Negative =\"+\" \"+s;\nelse\n msg.payload=\"Neutral =\"+\" \"+s;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["4f4c34f5.6141ec","37994a68.b22ad6"]]},{"id":"4f4c34f5.6141ec","type":"ui_text","z":"651b1d89.b7bbd4","group":"c3463b85.3fd7b8","order":2,"width":0,"height":0,"name":"","label":"Sentiment Value","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":300,"wires":[]},{"id":"cdb6079f.c8a4f8","type":"ui_gauge","z":"651b1d89.b7bbd4","name":"","group":"a8451235.a3d1d","order":3,"width":"0","height":"0","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":740,"y":100,"wires":[]},{"id":"c2cd5abe.9d8448","type":"ui_gauge","z":"651b1d89.b7bbd4","name":"","group":"6b1e8766.91e5b8","order":3,"width":"0","height":"0","gtype":"donut","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"c7231f90.e9675","type":"ui_gauge","z":"651b1d89.b7bbd4","name":"","group":"6b1e8766.91e5b8","order":3,"width":"0","height":"0","gtype":"donut","title":"","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"fb2573fd.9b42b","type":"ui_gauge","z":"651b1d89.b7bbd4","name":"","group":"9cde54bf.6e6258","order":3,"width":"3","height":"3","gtype":"wave","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#fc0307","#fcad03","#139202"],"seg1":"","seg2":"","x":830,"y":180,"wires":[]},{"id":"a59c3933.8efa88","type":"ui_chart","z":"651b1d89.b7bbd4","name":"","group":"3f6c0792.19f308","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-20","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#03385e","#09ddec","#be5804","#025a02","#3c5f35","#e30202","#ff94f6","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":140,"wires":[[]]},{"id":"c5f3f336.cf392","type":"ui_text","z":"651b1d89.b7bbd4","group":"5dca73fd.93178c","order":2,"width":"6","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":40,"wires":[]},{"id":"c19e5944.21a828","type":"delay","z":"651b1d89.b7bbd4","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":40,"wires":[["c5f3f336.cf392"]]},{"id":"37994a68.b22ad6","type":"ui_toast","z":"651b1d89.b7bbd4","position":"top right","displayTime":"3","highlight":"transparent","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Sentiment","name":"","x":870,"y":340,"wires":[]},{"id":"8b011f5b.5ca06","type":"ui_text","z":"651b1d89.b7bbd4","group":"4ff6c7d8.9b0f28","order":1,"width":"6","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":640,"wires":[]},{"id":"7805e1e.8aa762","type":"debug","z":"651b1d89.b7bbd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":805,"y":680,"wires":[]},{"id":"80dd3ae.05e53c8","type":"sentiment","z":"651b1d89.b7bbd4","name":"","property":"payload","x":382,"y":220,"wires":[["e38b2b3f.f93228","4942d5b2.4a515c","703a6a9c.27d694","1f353638.58ba3a","bca9fd40.54138","c19e5944.21a828"]]},{"id":"82485624.5575d8","type":"sentiment","z":"651b1d89.b7bbd4","name":"","property":"payload","x":625,"y":660,"wires":[["8b011f5b.5ca06","7805e1e.8aa762"]]},{"id":"339ac48f.8b3c3c","type":"ui_gauge","z":"651b1d89.b7bbd4","name":"","group":"9cde54bf.6e6258","order":0,"width":"3","height":"3","gtype":"wave","title":"","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#ec0404","#f2b50d","#41ee11"],"seg1":"","seg2":"","x":1035,"y":220,"wires":[]},{"id":"994075d6.90e108","type":"ui_gauge","z":"651b1d89.b7bbd4","name":"","group":"a8451235.a3d1d","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#ed0707","#f2be02","#289b08"],"seg1":"","seg2":"","x":890,"y":55,"wires":[]},{"id":"1ce0959f.6c47da","type":"ui_gauge","z":"651b1d89.b7bbd4","name":"","group":"7d96e027.24eba","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":90,"wires":[]},{"id":"8f887d59.a7756","type":"ui_gauge","z":"651b1d89.b7bbd4","name":"","group":"7d96e027.24eba","order":1,"width":0,"height":0,"gtype":"compass","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#ef0606","#f6ba13","#1dd704"],"seg1":"","seg2":"","x":1050,"y":165,"wires":[]},{"id":"7ac63464.ecec6c","type":"ui_chart","z":"651b1d89.b7bbd4","name":"","group":"a0e03d15.3a37","order":0,"width":"9","height":"6","label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"10","useOneColor":false,"useUTC":false,"colors":["#0ccbe4","#d7f207","#4bd425","#46ece1","#0a2575","#d62728","#94fff3","#679bbc","#d5c7af"],"useOldStyle":false,"outputs":1,"x":1045,"y":295,"wires":[[]]},{"id":"122be75b.63dd59","type":"ui_button","z":"651b1d89.b7bbd4","name":"","group":"71a57bad.0dd234","order":2,"width":"2","height":"3","passthru":false,"label":"Request","tooltip":"","color":"black","bgcolor":"CYAN","icon":"volume_up","payload":"stay home stay safe","payloadType":"str","topic":"","x":870,"y":470,"wires":[["530c0083.4bc22"]]},{"id":"1a86f912.af8b47","type":"ui_button","z":"651b1d89.b7bbd4","name":"","group":"71a57bad.0dd234","order":4,"width":"2","height":"3","passthru":false,"label":"Toll Free","tooltip":"","color":"black","bgcolor":"LIME","icon":"call","payload":"FOR INDIA:  1 0 7 5","payloadType":"str","topic":"","x":950,"y":390,"wires":[["3b640ecf.114352"]]},{"id":"9fcfecfd.4a697","type":"ui_button","z":"651b1d89.b7bbd4","name":"","group":"71a57bad.0dd234","order":3,"width":"2","height":"3","passthru":false,"label":"5_Rules","tooltip":"","color":"black","bgcolor":"yellow","icon":"touch_app","payload":"1 Wash Your Hands Frequently . 2 Wear Mask When you go outside .3 Maintain Social Distance . 4. Meet Doctor if you have symptoms like cough and fever. 5. Eat Healthy Food","payloadType":"str","topic":"","x":880,"y":525,"wires":[["ca1eda9f.0ac368"]]},{"id":"530c0083.4bc22","type":"ui_audio","z":"651b1d89.b7bbd4","name":"","group":"71a57bad.0dd234","voice":"en-GB","always":"","x":1050,"y":485,"wires":[]},{"id":"ca1eda9f.0ac368","type":"ui_audio","z":"651b1d89.b7bbd4","name":"","group":"71a57bad.0dd234","voice":"en-GB","always":"","x":1055,"y":545,"wires":[]},{"id":"3b640ecf.114352","type":"ui_audio","z":"651b1d89.b7bbd4","name":"","group":"71a57bad.0dd234","voice":"en-US","always":"","x":1105,"y":380,"wires":[]},{"id":"e80ad3b2.13a21","type":"ui_ui_control","z":"651b1d89.b7bbd4","name":"","events":"change","x":955,"y":785,"wires":[[]]},{"id":"e6d0ae1c.8e4af","type":"ui_button","z":"651b1d89.b7bbd4","name":"","group":"71a57bad.0dd234","order":7,"width":"4","height":"3","passthru":true,"label":"Corona Tracker","tooltip":"","color":"","bgcolor":"","icon":"dashboard","payload":"{\"tab\":\"29_State's Sentiment Analysis\"}","payloadType":"json","topic":"","x":550,"y":790,"wires":[["e80ad3b2.13a21"]]},{"id":"a43a8aa4.d78a88","type":"feedparse","z":"651b1d89.b7bbd4","name":"","url":"http://rss.cnn.com/rss/edition.rss","interval":"1","x":415,"y":630,"wires":[["82485624.5575d8"]]},{"id":"de00ac92.365e2","type":"ui_chart","z":"651b1d89.b7bbd4","name":"","group":"516e3887.530ff8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":60,"wires":[[]]},{"id":"64dca80d.e881a8","type":"ui_group","z":"","name":"Range_Sentiment","tab":"416525cb.50137c","order":1,"disp":true,"width":"5","collapse":false},{"id":"c3463b85.3fd7b8","type":"ui_group","z":"","name":"Sentiment Value","tab":"416525cb.50137c","order":2,"disp":true,"width":"6","collapse":false},{"id":"a8451235.a3d1d","type":"ui_group","z":"","name":"Gauge","tab":"416525cb.50137c","order":4,"disp":true,"width":"4","collapse":false},{"id":"6b1e8766.91e5b8","type":"ui_group","z":"","name":"Donut","tab":"416525cb.50137c","order":5,"disp":true,"width":"4","collapse":false},{"id":"9cde54bf.6e6258","type":"ui_group","z":"","name":"Level","tab":"416525cb.50137c","order":7,"disp":true,"width":"4","collapse":false},{"id":"3f6c0792.19f308","type":"ui_group","z":"","name":"Line Chart","tab":"416525cb.50137c","order":8,"disp":true,"width":"6","collapse":false},{"id":"5dca73fd.93178c","type":"ui_group","z":"","name":"Tweets","tab":"416525cb.50137c","order":9,"disp":true,"width":"6","collapse":false},{"id":"4ff6c7d8.9b0f28","type":"ui_group","z":"","name":"News","tab":"416525cb.50137c","order":10,"disp":true,"width":"6","collapse":false},{"id":"7d96e027.24eba","type":"ui_group","z":"","name":"Compass","tab":"416525cb.50137c","order":6,"disp":true,"width":"4","collapse":false},{"id":"a0e03d15.3a37","type":"ui_group","z":"","name":"Bar Chart","tab":"416525cb.50137c","order":11,"disp":true,"width":"10","collapse":false},{"id":"71a57bad.0dd234","type":"ui_group","z":"","name":"Slogans","tab":"416525cb.50137c","order":3,"disp":true,"width":"11","collapse":false},{"id":"516e3887.530ff8","type":"ui_group","z":"","name":"Corona Chart","tab":"e3e0be0d.1c329","order":1,"disp":true,"width":"20","collapse":false},{"id":"416525cb.50137c","type":"ui_tab","z":"","name":"COVID19_Sentiment_Analysis","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e3e0be0d.1c329","type":"ui_tab","z":"","name":"Corona Chart","icon":"dashboard","order":3,"disabled":false,"hidden":false}]