flows.json
[{"id":"ac2d7ecc.10ee7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"227b5bee.dc55e4","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":630,"y":115,"wires":[["c52d37b.06641c8"]]},{"id":"64828d5.e841674","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":140,"wires":[]},{"id":"950d1c7e.56449","type":"comment","z":"ac2d7ecc.10ee7","name":"Maharashtra RSS feed","info":"","x":330,"y":95,"wires":[]},{"id":"8ec9e292.8beb5","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":645,"y":205,"wires":[["fb2d6453.ec1988","3f941e9c.94daa2"]]},{"id":"fb2d6453.ec1988","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":255,"wires":[]},{"id":"6b4d6a3d.e85ef4","type":"comment","z":"ac2d7ecc.10ee7","name":"Delhi RSS feed","info":"","x":280,"y":195,"wires":[]},{"id":"89b869c0.371788","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":600,"y":335,"wires":[["2a373b3e.0a5814","781fb898.3ab978"]]},{"id":"2a373b3e.0a5814","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":365,"wires":[]},{"id":"635fd782.3e49b8","type":"comment","z":"ac2d7ecc.10ee7","name":"Jharkhand RSS feed","info":"","x":270,"y":300,"wires":[]},{"id":"3f5527a2.b7ef88","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":575,"y":455,"wires":[["37a7cd08.cf8622","2d0c5cd5.e2a5a4"]]},{"id":"37a7cd08.cf8622","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":745,"y":475,"wires":[]},{"id":"4b0b1488.a8e99c","type":"comment","z":"ac2d7ecc.10ee7","name":"Tamil Nadu","info":"","x":250,"y":415,"wires":[]},{"id":"ae115c1c.5ff5a","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":580,"y":590,"wires":[["206596cb.b3810a","374780c5.71548"]]},{"id":"206596cb.b3810a","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":605,"wires":[]},{"id":"e86976cc.538cd8","type":"comment","z":"ac2d7ecc.10ee7","name":"UP RSS feed","info":"","x":245,"y":555,"wires":[]},{"id":"d3fda7d4.cec5e8","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":575,"y":725,"wires":[["1d94408.c0c44c","3a0af841.4847f8"]]},{"id":"1d94408.c0c44c","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":740,"wires":[]},{"id":"58147d15.09db24","type":"comment","z":"ac2d7ecc.10ee7","name":"Rajasthan RSS feed","info":"","x":265,"y":685,"wires":[]},{"id":"7f7fbd02.a39c64","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":580,"y":835,"wires":[["fc56befe.aa8d1","a374cd5c.cff21"]]},{"id":"fc56befe.aa8d1","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":725,"y":860,"wires":[]},{"id":"5dd2bfbe.9a291","type":"comment","z":"ac2d7ecc.10ee7","name":"Westbengal RSS feed","info":"","x":300,"y":800,"wires":[]},{"id":"a66dfb54.894b28","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":555,"y":940,"wires":[["5465312d.8d0a","ef9558ed.e6ad68"]]},{"id":"5465312d.8d0a","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":715,"y":965,"wires":[]},{"id":"e213a420.541ae8","type":"comment","z":"ac2d7ecc.10ee7","name":"Hariyana RSS feed","info":"","x":280,"y":905,"wires":[]},{"id":"18072d86.10f682","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":550,"y":1065,"wires":[["dffcf2f4.ba0af","6710b458.7afe9c"]]},{"id":"dffcf2f4.ba0af","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":695,"y":1080,"wires":[]},{"id":"52d1b12b.01497","type":"comment","z":"ac2d7ecc.10ee7","name":"Karnataka RSS feed","info":"","x":260,"y":1020,"wires":[]},{"id":"d80803ca.90c5e","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":550,"y":1195,"wires":[["94ba4bd4.b26718","fc3520e9.64daf"]]},{"id":"94ba4bd4.b26718","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":1200,"wires":[]},{"id":"a7e9c9d7.0f6598","type":"comment","z":"ac2d7ecc.10ee7","name":"Telangana RSS feed","info":"","x":265,"y":1140,"wires":[]},{"id":"c52d37b.06641c8","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":755,"y":40,"wires":[["f7fa4c08.5519","64828d5.e841674"]]},{"id":"3f941e9c.94daa2","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":155,"wires":[["3c5a5927.33c746"]]},{"id":"781fb898.3ab978","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":280,"wires":[["e13ff541.e67968"]]},{"id":"2d0c5cd5.e2a5a4","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":400,"wires":[["62fa5dc.3c6c4a4"]]},{"id":"374780c5.71548","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":535,"wires":[["f5b40225.528e6"]]},{"id":"3a0af841.4847f8","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":660,"wires":[["6124f126.1d396"]]},{"id":"a374cd5c.cff21","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":780,"wires":[["24777d62.ab10e2"]]},{"id":"ef9558ed.e6ad68","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":685,"y":900,"wires":[["e310d34c.a3ea8"]]},{"id":"6710b458.7afe9c","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1010,"wires":[["216007cc.ee34c8"]]},{"id":"fc3520e9.64daf","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":1140,"wires":[["96cfaea9.e7668"]]},{"id":"f7fa4c08.5519","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"9c3af8c7.0b1848","order":3,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":60,"wires":[]},{"id":"3c5a5927.33c746","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"87235bf4.00dfd8","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":210,"wires":[]},{"id":"e13ff541.e67968","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"e07385bc.9b54c8","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":310,"wires":[]},{"id":"62fa5dc.3c6c4a4","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"16fcde5a.152f22","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":861,"y":420,"wires":[]},{"id":"f5b40225.528e6","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"bb31209b.c0cf5","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":824,"y":546,"wires":[]},{"id":"6124f126.1d396","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"f45e58b3.338318","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":668,"wires":[]},{"id":"24777d62.ab10e2","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"bed8c89.f9b8c38","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":838,"y":786,"wires":[]},{"id":"e310d34c.a3ea8","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"2f7bc1a2.6158be","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":825,"y":905,"wires":[]},{"id":"216007cc.ee34c8","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"3386842e.ee2ffc","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":838,"y":1007,"wires":[]},{"id":"96cfaea9.e7668","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"31bfdc94.4f0fc4","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":875,"y":1150,"wires":[]},{"id":"ef318fe5.b8571","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":555,"y":1320,"wires":[["f202961f.6f1ad8","5f9863e6.3adf1c"]]},{"id":"f202961f.6f1ad8","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":705,"y":1325,"wires":[]},{"id":"5f579885.69c818","type":"comment","z":"ac2d7ecc.10ee7","name":"Andhra pradesh RSS feed","info":"","x":290,"y":1265,"wires":[]},{"id":"5f9863e6.3adf1c","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1265,"wires":[["930a8727.f7edd8"]]},{"id":"930a8727.f7edd8","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"7a707b5.7dbdd84","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":1275,"wires":[]},{"id":"8d0bb27.be5815","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":560,"y":1425,"wires":[["699a9664.055058","325a34e7.a3cacc"]]},{"id":"699a9664.055058","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":1430,"wires":[]},{"id":"28ab9094.9a6f4","type":"comment","z":"ac2d7ecc.10ee7","name":"Odisha RSS feed","info":"","x":265,"y":1370,"wires":[]},{"id":"325a34e7.a3cacc","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":1370,"wires":[["8317026.7980d"]]},{"id":"8317026.7980d","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"3e9b6400.10fbdc","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":885,"y":1380,"wires":[]},{"id":"e1b26aca.6e0168","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":570,"y":1535,"wires":[["68fd940c.6d949c","58d10c66.6403e4"]]},{"id":"68fd940c.6d949c","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1540,"wires":[]},{"id":"2f2c718.780808e","type":"comment","z":"ac2d7ecc.10ee7","name":"Goa RSS feed","info":"","x":265,"y":1480,"wires":[]},{"id":"58d10c66.6403e4","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":1480,"wires":[["8c5d0dad.717aa"]]},{"id":"8c5d0dad.717aa","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"251324ff.60d99c","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":895,"y":1490,"wires":[]},{"id":"af6a5b49.dcfd08","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":565,"y":1650,"wires":[["20973e10.f78bf2","2a745983.1dc8a6"]]},{"id":"20973e10.f78bf2","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":715,"y":1655,"wires":[]},{"id":"cbc70c88.a8953","type":"comment","z":"ac2d7ecc.10ee7","name":"Kerala RSS feed","info":"","x":270,"y":1595,"wires":[]},{"id":"2a745983.1dc8a6","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1595,"wires":[["e0ac6802.5def48"]]},{"id":"e0ac6802.5def48","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"474d20ba.4387c","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":1605,"wires":[]},{"id":"9b55cf7f.bec3","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":560,"y":1770,"wires":[["d99b65f4.292ce8","c2a38509.10d078"]]},{"id":"d99b65f4.292ce8","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":1775,"wires":[]},{"id":"9f5179bb.a09348","type":"comment","z":"ac2d7ecc.10ee7","name":"Punjab RSS feed","info":"","x":265,"y":1715,"wires":[]},{"id":"c2a38509.10d078","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":1715,"wires":[["47f03434.bddc5c"]]},{"id":"47f03434.bddc5c","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"e4ce930d.3c7e5","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":885,"y":1725,"wires":[]},{"id":"47578377.23aabc","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":575,"y":1890,"wires":[["799a1f7.b08f6e","de5f86f.ced6578"]]},{"id":"799a1f7.b08f6e","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":725,"y":1895,"wires":[]},{"id":"3d121afc.7b1e16","type":"comment","z":"ac2d7ecc.10ee7","name":"Gujarat RSS feed","info":"","x":280,"y":1835,"wires":[]},{"id":"de5f86f.ced6578","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1835,"wires":[["669978ad.766b08"]]},{"id":"669978ad.766b08","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"38a56f37.14758","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":1845,"wires":[]},{"id":"c09f64fd.f018d8","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":585,"y":2000,"wires":[["cf0d0fae.c9e33","742cb845.d81288"]]},{"id":"cf0d0fae.c9e33","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":735,"y":2005,"wires":[]},{"id":"9987832c.92578","type":"comment","z":"ac2d7ecc.10ee7","name":"Bihar RSS feed","info":"","x":290,"y":1945,"wires":[]},{"id":"742cb845.d81288","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1945,"wires":[["90c482fb.4eda3"]]},{"id":"90c482fb.4eda3","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"b9a914cb.cb6478","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":1955,"wires":[]},{"id":"ffb362b9.87d15","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":585,"y":2110,"wires":[["930d68be.8131b8","deebc5f6.cc6c48"]]},{"id":"930d68be.8131b8","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":735,"y":2115,"wires":[]},{"id":"b6b313b4.63ac8","type":"comment","z":"ac2d7ecc.10ee7","name":"Chattisgarh RSS feed","info":"","x":310,"y":2055,"wires":[]},{"id":"deebc5f6.cc6c48","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":2055,"wires":[["d7e08f7f.98f9b"]]},{"id":"d7e08f7f.98f9b","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"8020713.147679","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":2065,"wires":[]},{"id":"9f946ecd.d644c","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":560,"y":2230,"wires":[["5701b7ba.a38a88","fffd5f47.82dd6"]]},{"id":"5701b7ba.a38a88","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":2235,"wires":[]},{"id":"b3dab88.44efa48","type":"comment","z":"ac2d7ecc.10ee7","name":"Assam RSS feed","info":"","x":265,"y":2175,"wires":[]},{"id":"fffd5f47.82dd6","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":2175,"wires":[["46cff964.d81ff8"]]},{"id":"46cff964.d81ff8","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"678d3ae4.f82dc4","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":885,"y":2185,"wires":[]},{"id":"e2c161f7.a1823","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":555,"y":2340,"wires":[["36866917.e140b6","82253c3.4e7e8c"]]},{"id":"36866917.e140b6","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":705,"y":2345,"wires":[]},{"id":"df8f1e17.b16a9","type":"comment","z":"ac2d7ecc.10ee7","name":"Arunachal Pradesh RSS feed","info":"","x":300,"y":2285,"wires":[]},{"id":"82253c3.4e7e8c","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":2285,"wires":[["94cf0087.2f7e"]]},{"id":"94cf0087.2f7e","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"34472160.dc567e","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":2295,"wires":[]},{"id":"366ad847.6ecda8","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":550,"y":2455,"wires":[["a4373627.b1bff8","105b99bc.a891c6"]]},{"id":"a4373627.b1bff8","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":2460,"wires":[]},{"id":"69b0bff8.70806","type":"comment","z":"ac2d7ecc.10ee7","name":"Manipur RSS feed","info":"","x":265,"y":2400,"wires":[]},{"id":"105b99bc.a891c6","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":2400,"wires":[["122ca8d8.7d3827"]]},{"id":"122ca8d8.7d3827","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"52f15e03.23e77","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":875,"y":2410,"wires":[]},{"id":"cb45e2ee.45fcf","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":555,"y":2570,"wires":[["31e68d4a.13b362","6215f27.f0eaa0c"]]},{"id":"31e68d4a.13b362","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":705,"y":2575,"wires":[]},{"id":"a4bc1ee8.fac46","type":"comment","z":"ac2d7ecc.10ee7","name":"Himachal Pradesh RSS feed","info":"","x":300,"y":2515,"wires":[]},{"id":"6215f27.f0eaa0c","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":2515,"wires":[["1e7b1d7a.ada0d3"]]},{"id":"1e7b1d7a.ada0d3","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"7055ce2e.56ae3","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":2525,"wires":[]},{"id":"44d367c4.ea51f8","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":550,"y":2690,"wires":[["435c417f.1e6b7","68feb335.6719cc"]]},{"id":"435c417f.1e6b7","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":2695,"wires":[]},{"id":"b1ca876c.d97978","type":"comment","z":"ac2d7ecc.10ee7","name":"Meghalaya RSS feed","info":"","x":275,"y":2635,"wires":[]},{"id":"68feb335.6719cc","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":2635,"wires":[["af0556ec.b31708"]]},{"id":"af0556ec.b31708","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"7b0c0eb3.d6139","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":875,"y":2645,"wires":[]},{"id":"b6c256b6.b67518","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":560,"y":2810,"wires":[["14519eb.ec6ba61","18d80ef1.bc11d1"]]},{"id":"14519eb.ec6ba61","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":2815,"wires":[]},{"id":"61f753ad.7e970c","type":"comment","z":"ac2d7ecc.10ee7","name":"Mizoram RSS feed","info":"","x":275,"y":2755,"wires":[]},{"id":"18d80ef1.bc11d1","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":2755,"wires":[["24ba20bc.05c8c"]]},{"id":"24ba20bc.05c8c","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"981c206.a68c8e","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":885,"y":2765,"wires":[]},{"id":"32da7944.6b4016","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":580,"y":2935,"wires":[["327f316e.e1afde","80eb6512.ab0688"]]},{"id":"327f316e.e1afde","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":2940,"wires":[]},{"id":"3b81a877.0e3e58","type":"comment","z":"ac2d7ecc.10ee7","name":"Jammu and Kashmir RSS feed","info":"","x":335,"y":2880,"wires":[]},{"id":"80eb6512.ab0688","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":755,"y":2880,"wires":[["cfc218e9.814e18"]]},{"id":"cfc218e9.814e18","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"994179d7.ffd6c8","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":905,"y":2890,"wires":[]},{"id":"2e4317f6.e7f308","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":565,"y":3055,"wires":[["6d52a2b3.ca505c","eb44d432.fd1b28"]]},{"id":"6d52a2b3.ca505c","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":715,"y":3060,"wires":[]},{"id":"9f623fb9.47f49","type":"comment","z":"ac2d7ecc.10ee7","name":"Nagaland RSS feed","info":"","x":280,"y":3000,"wires":[]},{"id":"eb44d432.fd1b28","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":3000,"wires":[["246c78a1.70e588"]]},{"id":"246c78a1.70e588","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"c1dbf2a2.74267","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":3010,"wires":[]},{"id":"7c394f78.7c7e3","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":545,"y":3180,"wires":[["c7279cf5.9cd9","302b03b0.52e01c"]]},{"id":"c7279cf5.9cd9","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":695,"y":3185,"wires":[]},{"id":"20cd6938.8700a6","type":"comment","z":"ac2d7ecc.10ee7","name":"Madhya Pradesh RSS feed","info":"","x":280,"y":3125,"wires":[]},{"id":"302b03b0.52e01c","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":3125,"wires":[["f7bd99ce.c038b8"]]},{"id":"f7bd99ce.c038b8","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"6127ef5b.d4df1","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":3135,"wires":[]},{"id":"515d4949.e405d8","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":525,"y":3440,"wires":[["c5c46e7c.54dad","ef04636.6ced5a"]]},{"id":"c5c46e7c.54dad","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":675,"y":3445,"wires":[]},{"id":"d189cc8a.4fb9b","type":"comment","z":"ac2d7ecc.10ee7","name":"Sikkim RSS feed","info":"","x":230,"y":3385,"wires":[]},{"id":"ef04636.6ced5a","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":3385,"wires":[["b73a22d0.d0558"]]},{"id":"b73a22d0.d0558","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"1488e5e1.c4b3ea","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":3395,"wires":[]},{"id":"a3ebaf68.3bcb9","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":550,"y":3565,"wires":[["a0f03d48.aaac6","458fa287.9ceffc"]]},{"id":"a0f03d48.aaac6","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":3570,"wires":[]},{"id":"a60ea34a.8452e","type":"comment","z":"ac2d7ecc.10ee7","name":"Tripuran RSS feed","info":"","x":265,"y":3510,"wires":[]},{"id":"458fa287.9ceffc","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":3510,"wires":[["ee1b0c1b.46dcf"]]},{"id":"ee1b0c1b.46dcf","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"c3dbab6d.255a58","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":875,"y":3520,"wires":[]},{"id":"46f76837.681a58","type":"sentiment","z":"ac2d7ecc.10ee7","name":"","property":"payload","x":550,"y":3685,"wires":[["d4bc2044.0d25c","497f6c19.f795b4"]]},{"id":"d4bc2044.0d25c","type":"debug","z":"ac2d7ecc.10ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":3690,"wires":[]},{"id":"9163e406.c066d8","type":"comment","z":"ac2d7ecc.10ee7","name":"UttarKhand RSS feed","info":"","x":275,"y":3630,"wires":[]},{"id":"497f6c19.f795b4","type":"function","z":"ac2d7ecc.10ee7","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":3630,"wires":[["85c3e6bc.384188"]]},{"id":"85c3e6bc.384188","type":"ui_gauge","z":"ac2d7ecc.10ee7","name":"","group":"f6765042.54745","order":2,"width":"3","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":875,"y":3640,"wires":[]},{"id":"82aedcc0.cf186","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/4118235.cms","interval":"1","x":325,"y":150,"wires":[["227b5bee.dc55e4"]]},{"id":"5c174cf5.db0744","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128839596.cms","interval":"1","x":340,"y":240,"wires":[["8ec9e292.8beb5"]]},{"id":"3d154f5b.acfce","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/4118245.cms","interval":"1","x":275,"y":355,"wires":[["89b869c0.371788"]]},{"id":"8cf1258b.a6ea08","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/2950623.cms","interval":"1","x":280,"y":475,"wires":[["3f5527a2.b7ef88"]]},{"id":"eb1d1b2f.78dca8","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/3947060.cms","interval":"1","x":280,"y":610,"wires":[["ae115c1c.5ff5a"]]},{"id":"d1c5ac33.c08a6","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/3012544.cms","interval":"1","x":270,"y":740,"wires":[["d3fda7d4.cec5e8"]]},{"id":"fc7a338f.849ec","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128830821.cms","interval":"1","x":275,"y":860,"wires":[["7f7fbd02.a39c64"]]},{"id":"64781cc3.547a04","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128816762.cms","interval":"1","x":265,"y":965,"wires":[["a66dfb54.894b28"]]},{"id":"bdb68e58.e779f","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128833038.cms","interval":"1","x":245,"y":1080,"wires":[["18072d86.10f682"]]},{"id":"a691e7d0.5a4a48","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128816011.cms","interval":"1","x":250,"y":1200,"wires":[["d80803ca.90c5e"]]},{"id":"1283e9a5.9aa3d6","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128816011.cms","interval":"1","x":255,"y":1325,"wires":[["ef318fe5.b8571"]]},{"id":"50fd742c.8ce28c","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/4118235.cms","interval":"1","x":250,"y":1430,"wires":[["8d0bb27.be5815"]]},{"id":"8ca4816e.130cb","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/3012535.cms","interval":"1","x":260,"y":1540,"wires":[["e1b26aca.6e0168"]]},{"id":"87f160a7.7224b","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/878156304.cms","interval":"1","x":265,"y":1655,"wires":[["af6a5b49.dcfd08"]]},{"id":"b8cfdf4e.7d7e2","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128816762.cms","interval":"1","x":260,"y":1775,"wires":[["9b55cf7f.bec3"]]},{"id":"bb92487d.c7e5a8","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/3942660.cms","interval":"1","x":265,"y":1895,"wires":[["47578377.23aabc"]]},{"id":"d8de1f67.6c75e","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128817995.cms","interval":"1","x":285,"y":2005,"wires":[["c09f64fd.f018d8"]]},{"id":"33b473af.84c20c","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128816762.cms","interval":"1","x":285,"y":2115,"wires":[["ffb362b9.87d15"]]},{"id":"1468da8c.dd1865","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/4118215.cms","interval":"1","x":250,"y":2235,"wires":[["9f946ecd.d644c"]]},{"id":"5fccb5ce.9cd20c","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/4118215.cms","interval":"1","x":245,"y":2345,"wires":[["e2c161f7.a1823"]]},{"id":"81f74e3a.b2af","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"\t https://www.kanglatimes.com/rss/category/health-beaty","interval":"1","x":230,"y":2460,"wires":[["366ad847.6ecda8"]]},{"id":"ae61b558.7ea858","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://www.bhaskar.com/rss-feed/12084/","interval":"1","x":195,"y":2575,"wires":[["cb45e2ee.45fcf"]]},{"id":"b8bfbb42.132aa8","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"http://theshillongtimes.com/meghalaya/feed/","interval":"1","x":200,"y":2695,"wires":[["44d367c4.ea51f8"]]},{"id":"42f1ed0a.d1e414","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128833038.cms","interval":"1","x":260,"y":2815,"wires":[["b6c256b6.b67518"]]},{"id":"b7af1d17.e2aba","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128816762.cms","interval":"1","x":280,"y":2940,"wires":[["32da7944.6b4016"]]},{"id":"1a8a7eac.2bbf61","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128833038.cms","interval":"1","x":265,"y":3060,"wires":[["2e4317f6.e7f308"]]},{"id":"c1ac8d07.0e09f","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/4118215.cms","interval":"1","x":235,"y":3185,"wires":[["7c394f78.7c7e3"]]},{"id":"aa941565.39ac98","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/-2128833038.cms","interval":"1","x":225,"y":3445,"wires":[["515d4949.e405d8"]]},{"id":"a73e5e3e.418dc","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/878156304.cms","interval":"1","x":250,"y":3570,"wires":[["a3ebaf68.3bcb9"]]},{"id":"b3bbc230.aab6f","type":"feedparse","z":"ac2d7ecc.10ee7","name":"","url":"https://timesofindia.indiatimes.com/rssfeeds/878156304.cms","interval":"1","x":250,"y":3690,"wires":[["46f76837.681a58"]]},{"id":"9c3af8c7.0b1848","type":"ui_group","z":"","name":"Maharashtra","tab":"90e12247.0158c","order":1,"disp":true,"width":"4","collapse":false},{"id":"87235bf4.00dfd8","type":"ui_group","z":"","name":"Delhi","tab":"90e12247.0158c","order":2,"disp":true,"width":"4","collapse":false},{"id":"e07385bc.9b54c8","type":"ui_group","z":"","name":"Jharkhand","tab":"90e12247.0158c","order":3,"disp":true,"width":"4","collapse":false},{"id":"16fcde5a.152f22","type":"ui_group","z":"","name":"Tamil Nadu","tab":"90e12247.0158c","order":4,"disp":true,"width":"4","collapse":false},{"id":"bb31209b.c0cf5","type":"ui_group","z":"","name":"Uttar Pradesh","tab":"90e12247.0158c","order":5,"disp":true,"width":"4","collapse":false},{"id":"f45e58b3.338318","type":"ui_group","z":"","name":"Rajasthan","tab":"90e12247.0158c","order":6,"disp":true,"width":"4","collapse":false},{"id":"bed8c89.f9b8c38","type":"ui_group","z":"","name":"West Bengal","tab":"90e12247.0158c","order":7,"disp":true,"width":"4","collapse":false},{"id":"2f7bc1a2.6158be","type":"ui_group","z":"","name":"Haryana","tab":"90e12247.0158c","order":8,"disp":true,"width":"4","collapse":false},{"id":"3386842e.ee2ffc","type":"ui_group","z":"","name":"Karnataka","tab":"90e12247.0158c","order":9,"disp":true,"width":"4","collapse":false},{"id":"31bfdc94.4f0fc4","type":"ui_group","z":"","name":"Telangana","tab":"90e12247.0158c","order":10,"disp":true,"width":"4","collapse":false},{"id":"7a707b5.7dbdd84","type":"ui_group","z":"","name":"Andhra Pradesh","tab":"90e12247.0158c","order":11,"disp":true,"width":"4","collapse":false},{"id":"3e9b6400.10fbdc","type":"ui_group","z":"","name":"Odisha","tab":"90e12247.0158c","order":12,"disp":true,"width":"4","collapse":false},{"id":"251324ff.60d99c","type":"ui_group","z":"","name":"Goa","tab":"90e12247.0158c","order":13,"disp":true,"width":"4","collapse":false},{"id":"474d20ba.4387c","type":"ui_group","z":"","name":"Kerala","tab":"90e12247.0158c","order":14,"disp":true,"width":"4","collapse":false},{"id":"e4ce930d.3c7e5","type":"ui_group","z":"","name":"Punjab","tab":"90e12247.0158c","order":15,"disp":true,"width":"4","collapse":false},{"id":"38a56f37.14758","type":"ui_group","z":"","name":"Gujarat","tab":"90e12247.0158c","order":16,"disp":true,"width":"4","collapse":false},{"id":"b9a914cb.cb6478","type":"ui_group","z":"","name":"Bihar","tab":"90e12247.0158c","order":17,"disp":true,"width":"4","collapse":false},{"id":"8020713.147679","type":"ui_group","z":"","name":"Chattisgarh","tab":"90e12247.0158c","order":18,"disp":true,"width":"4","collapse":false},{"id":"678d3ae4.f82dc4","type":"ui_group","z":"","name":"Assam","tab":"90e12247.0158c","order":19,"disp":true,"width":"4","collapse":false},{"id":"34472160.dc567e","type":"ui_group","z":"","name":"Arunachal Pradesh","tab":"90e12247.0158c","order":20,"disp":true,"width":"4","collapse":false},{"id":"52f15e03.23e77","type":"ui_group","z":"","name":"Manipur","tab":"90e12247.0158c","order":21,"disp":true,"width":"4","collapse":false},{"id":"7055ce2e.56ae3","type":"ui_group","z":"","name":"Himachal Pradesh","tab":"90e12247.0158c","order":22,"disp":true,"width":"4","collapse":false},{"id":"7b0c0eb3.d6139","type":"ui_group","z":"","name":"Meghalaya","tab":"90e12247.0158c","order":23,"disp":true,"width":"4","collapse":false},{"id":"981c206.a68c8e","type":"ui_group","z":"","name":"Mizoram","tab":"90e12247.0158c","order":24,"disp":true,"width":"4","collapse":false},{"id":"994179d7.ffd6c8","type":"ui_group","z":"","name":"Jammu and Kashmir","tab":"90e12247.0158c","order":25,"disp":true,"width":"4","collapse":false},{"id":"c1dbf2a2.74267","type":"ui_group","z":"","name":"Nagaland","tab":"90e12247.0158c","order":26,"disp":true,"width":"4","collapse":false},{"id":"6127ef5b.d4df1","type":"ui_group","z":"","name":"Madhya Pradesh","tab":"90e12247.0158c","order":27,"disp":true,"width":"4","collapse":false},{"id":"1488e5e1.c4b3ea","type":"ui_group","z":"","name":"Sikkim","tab":"90e12247.0158c","order":28,"disp":true,"width":"4","collapse":false},{"id":"c3dbab6d.255a58","type":"ui_group","z":"","name":"Tripura","tab":"90e12247.0158c","order":29,"disp":true,"width":"4","collapse":false},{"id":"f6765042.54745","type":"ui_group","z":"","name":"Uttarkhand","tab":"90e12247.0158c","order":30,"disp":true,"width":"4","collapse":false},{"id":"90e12247.0158c","type":"ui_tab","z":"","name":"29_State's Sentiment Analysis","icon":"dashboard","order":2,"disabled":false,"hidden":false}]